<!DOCTYPE html>
<html>
  <head>
    <title>add your topic</title>
    <link href="css/bootstrap.css" rel="stylesheet" media="screen">
        <link rel='stylesheet' href='/stylesheets/mystyle.css' />
        <link rel='stylesheet' href='/stylesheets/style.css' />
        <link href='http://fonts.googleapis.com/css?family=Rancho' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="/">NextDraw</a>
          <div class="nav-collapse collapse">
            <!-- <p class="navbar-text pull-right">
              <a href="#" class="navbar-link">+</a>
            </p> -->
            <ul class="nav pull-right">
            <!--  <li class="active"><a href="#">Home</a></li>-->
                <li><form id="searchbar" action="/search" method="get" class="navbar-search">
                   <input type="text" data-provide="typeahead" name='keyword' class="search-query" placeholder="搜尋...">
                   </form></li>
                <!-- <li ><a href="#about">About</a></li>
                <li ><a href="#contact">Contact</a></li> -->
                <li ><a href="/newtopic">+</a>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div> 
    <div class="container">
    <div class="content">
    <div class="page-header">
      <h1>創建主題</h1>
      <h4>你想找網路上的高手幫你修圖嗎?
          上傳你的圖片並且適當命名吧
          可以加上你的描述</h4>
    </div>
    
    
    
    <form id="add-topic" action="/addtopic" method="post" enctype="multipart/form-data">
      
      
      
      <label>圖片</label>
       <div class="cover_div">
    <input type="text" id="fileName" class="fake_input" /><a href="#" class="btn btn-primary" >點我</a>
    <div class="clear"></div>
  </div>
      <input type="file" name="file" id="file0" multiple="multiple" class="hide_input" onchange="setText(this,'fileName');"/><br>
      <img src="" id="img0" width="200px" ><br>
      <label class="help-inline"></label>
      <label>主題</label>
      <input type="text" name="topic" class="input-xxlarge required" />
      
      <label >描述</label>
      <textarea name="description" class="input-xxlarge" style="min-height: 150px;"></textarea>
      <div>
        <button class="btn btn-success">送出</button>
       </div>     
    </form>
    </div>
  </div>
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script>  
  /**
   * 使用HTML5 File API, 來即時預覽image
   */
  $("#file0").change(function(){
    var objUrl = getObjectURL(this.files[0]) ;
    console.log("objUrl = "+objUrl) ;
    if (objUrl) {
      $("#img0").attr("src", objUrl) ;
    }
  }) ;
  
  /**
   * 建立一個可存取到該file的url
   * PS: 瀏覽器必須支援HTML5 File API
   */
  function getObjectURL(file) {
    var url = null ; 
    if (window.createObjectURL!=undefined) { // basic
      url = window.createObjectURL(file) ;
    } else if (window.URL!=undefined) { // mozilla(firefox)
      url = window.URL.createObjectURL(file) ;
    } else if (window.webkitURL!=undefined) { // webkit or chrome
      url = window.webkitURL.createObjectURL(file) ;
    }
    return url ;
  }
  </script>
  </body>
</html>