<!DOCTYPE html>
<html>
  <head>
    <link href="./css/bootstrap.css" rel="stylesheet" media="screen">
  </head>
  <body>
  	testtest
       <!-- Scripts -->
  <script type="text/javascript" src="./javascripts/jquery.min.js">  ​</script>
  <script type="text/javascript" src="./javascripts/jquery-ui.min.js"> </script>
  <script type="text/javascript" src="./javascripts/code.js"></script>

  </body>
</html>