<!DOCTYPE html>
<html>
  <head>
    <link href="./css/bootstrap.css" rel="stylesheet" media="screen">
     <link rel='stylesheet' href='/stylesheets/mystyle.css' />
    <div id="fb-root"></div>
<script>(function(d, s, id) {
var js, fjs = d.getElementsByTagName(s)[0];
if (d.getElementById(id)) return;
js = d.createElement(s); js.id = id;
js.src = "//connect.facebook.net/zh_TW/all.js#xfbml=1&appId=301124913339612";
fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
  </head>
  <body>
  	


 
	
<div class="container">
<div class="row-">
   <div class="span10">
  <i class="icon-arrow-up btntop" id="leftDir"></i>
    <div id="scrollbox">
      <div class="scrollcon">
        <div id="boximg" class="scrollpic">
          <ul>
              <% piclist.forEach(function(pic){ %>
              <li><img src ='/upload/<%= pic.picurl %> '></img><br />
              </li>
    
              <br>
               <% }) %>
        <!--     <li><a href="http://www.jsfoot.com/"><img width="132" height="91" alt="哈尔滨市哈南工业新城核心区概念城市设计" src="scroll/images/20110627024506_0.jpg" /><br />
    哈尔滨市哈南工业新城核心区概念城市设计</a></li>
    <li><a href="http://www.jsfoot.com/"><img width="132" height="91" alt="重庆茶园聚居区" src="scroll/images/20110725095230_0.jpg" /><br />
    重庆茶园聚居区</a></li>
    <li><a href="http://www.jsfoot.com/"><img width="132" height="91" alt="重庆翠云聚居区" src="scroll/images/20110725093657_0.jpg" /><br />
    重庆翠云聚居区</a></li>
    <li><a href="http://www.jsfoot.com/"><img width="132" height="91" alt="重庆两江四岸滨江地带江北片区城市设计" src="scroll/images/20110725101927_0.jpg" /><br />
    重庆两江四岸滨江地带江北片区城市设计</a></li> -->
          </ul>
        </div>
      </div>
    </div>
<i class="icon-arrow-down btnbottom" id="rightDir"></i>
</div>
<form method='post' action='/upload' ENCTYPE="multipart/form-data" >
    <input type='file' name='file' />
<!--    <input type='text' name='title' placeholder='輸入comment' />-->
    <button>送出</button>
  </form>
</div>

</div>



  <script type="text/javascript" src="./javascripts/jquery.min.js">  ​</script>
  <script type="text/javascript" src="./javascripts/jquery-ui.min.js"> </script>
  <script type="text/javascript" src="./javascripts/code.js"></script>
  </body>
</html>