body{
	background-image: url("../img/retina_wood_@2X.png");
}
.topic{
	text-align: center;
	margin-top: 10px;
	line-height: 0px;
}
.hero{
	margin-bottom: 10px;
	line-height: 20px;
	padding: 23px;
}

#content{
	text-align: center;
	margin-top:;
}
#searchbar{
	width: 432px;

}
.thumbnailscenter
{
	margin-left: 80px;
}
#hide{
	position: absolute;
	top:150%;
}
.span230{width:50%;}
.btntop,.btnbottom{
	overflow:hidden;
	cursor:pointer;
	margin-left: 200px;
}
#scrollbox{
	height:400px;
	overflow:hidden;
	/*background-color: blue;*/
}
.scrollcon{
	height:400px;
/*	定義視窗大小*/
}
.scrollpic li{overflow:hidden;margin:5px 0;}
.shadowbox{
	box-shadow:2px  2px 8px ;
	-webkit-box-shadow:2px  2px 8px ;
	-moz-box-shadow:2px  2px 8px ;
}
.scrollpic li img{float:left;margin:0 10px 0 0;}
.userpicture{
	width :400px;
	height: 300px;
	margin-left: 50px;
}