body{
	background-image: url("../img/retina_wood(gray).png");
}
.topic{
	text-align: center;
	margin-top: 10px;
	line-height: 0px;
}
.hero{
	margin-bottom: 10px;
	line-height: 20px;
	padding: 23px;
}
.margintop{
	margin-top: 41px;
}
.brand{
	/*font-family: 'Kaushan Script';*/
	font-size: 13px;
}

.indexpic{
	height:auto;
	width: 200px;
}
.topic{
	margin: 0 auto;
}
#content{
	text-align: center;
	margin-top:;
}
#searchbar{
	width: 220px;

}
.thumbnailscenter
{
	margin-left: 05px;
}
#hide{
	position: absolute;
	top:150%;
}
.span230{width:50%;}
.btntop,.btnbottom{
	overflow:hidden;
	cursor:pointer;
	margin-left: 200px;
}
#scrollbox{
	height:400px;
	overflow:hidden;
	/*background-color: blue;*/
}
.scrollcon{
	height:400px;
/*	定義視窗大小*/
}
.scrollpic li{overflow:hidden;margin:5px 0;}
.shadowbox{
	box-shadow:2px  2px 8px ;
	-webkit-box-shadow:2px  2px 8px ;
	-moz-box-shadow:2px  2px 8px ;
}
.commentbox{
/*	調整右邊視窗大小*/
	width:300px;
		height:400px;
	margin-left: 550px;
}
.scrollpic li img{float:left;margin:0 10px 0 0;}
.userpicture{
	width :400px;
	height: 300px;
	margin-left: 50px;
}

.hide2{
	color: blue;
}
#waterwheel-carousel-vertical{
	width:500px;

}

    .cover_div{  
        float:left;  
        width:270px;  
    }  
    .fake_input{  
        float:left;  
        width:135px;  
        margin:0 5px 0 0;  
    }  
    .hide_input{  
        border:1px solid red;  
        margin:0px 0 0 -267px;  
        margin:0px 0 0 -267px9;  
        float:left;  
        height:30px;  
        opacity:0;  
        filter:alpha(opacity=0);  
        width:220px9;  
    }  
   
       
    .clear{  
        clear:both;  
    }  
hr{
	border-top: 1px solid #DD4814;
border-bottom: 1px solid #DD4814;
}
