body{
	background-image: url("../img/retina_wood_@2X.png");
}
#content{
	margin-top: 20%;
	text-align: center;
}
#searchbar{
	width: 432px;

}
#hide{
	top:250px;
}
.span230{width:50%;}
.btntop,.btnbottom{
	overflow:hidden;
	cursor:pointer;
	margin-left: 200px;
}
#scrollbox{
	height:400px;
	overflow:hidden;
	/*background-color: blue;*/
}
.scrollcon{
	height:400px;
/*	定義視窗大小*/
}
.scrollpic li{overflow:hidden;margin:5px 0;}
.scrollpic li img{float:left;margin:0 10px 0 0;}
.userpicture{
	width :400px;
	height: 300px;
	margin-left: 50px;
}